
html {
    font-size: 16px;
}

:root{
    --primary-red:#b1151c;
    --primary-black:#000000;
    --primary-brown:#452714;
    --background:#eeeadf;
    --white:#ffffff;

    --font-bold:60px;
    --font-medium:48px;
    --font-regular:37px;
    --font-small:24px;
}

/* Fonts */
/* Regular */
@font-face {
    font-family: 'Lyon';
    src: url('../font/arfonts-lyon-arabic-display_all/lyon-arabic-display-regular.otf') format('opentype');
    font-weight: 400;
}

/* Medium */
@font-face {
    font-family: 'Lyon';
    src: url('../font/arfonts-lyon-arabic-display_all/lyon-arabic-display-medium.otf') format('opentype');
    font-weight: 500;
}

/* Bold */
@font-face {
    font-family: 'Lyon';
    src: url('../font/arfonts-lyon-arabic-display_all/lyon-arabic-display-bold.otf') format('opentype');
    font-weight: 700;
}

/* Black */
@font-face {
    font-family: 'Lyon';
    src: url('../font/arfonts-lyon-arabic-display_all/lyon-arabic-display-black.otf') format('opentype');
    font-weight: 900;
}

/* Light */
@font-face {
    font-family: 'Lyon';
    src: url('../font/arfonts-lyon-arabic-display_all/lyon-arabic-display-light.otf') format('opentype');
    font-weight: 300;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lyon', sans-serif;
    background-color: var(--background);

    /* center form */
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

/* Login Card */
.container{
    width: 500px;
    background-color: var(--white);

    padding: 40px;

    border-radius: 20px;

    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
}

/* Title */
.container h2{
    text-align: center;

    color: var(--primary-red);

    margin-bottom: 30px;

    font-size: 36px;
}

/* Labels */
.container label{
    display: block;

    margin-bottom: 8px;

    color: var(--primary-brown);

    font-size: 18px;
}
.logo{
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
/* Inputs */
.container input{
    width: 100%;

    padding: 14px;

    border: 1px solid #d6d6d6;

    border-radius: 10px;

    margin-bottom: 20px;

    font-size: 16px;

    font-family: 'Lyon', sans-serif;
}

/* Focus */
.container input:focus{
    outline: none;

    border-color: var(--primary-red);
}

/* Button */
.container button{
    width: 100%;

    padding: 14px;

    background-color: var(--primary-red);

    color: white;

    border: none;

    border-radius: 10px;

    font-size: 18px;

    cursor: pointer;

    transition: 0.3s;

    font-family: 'Lyon', sans-serif;
}

/* Hover */
.container button:hover{
    background-color: var(--primary-brown);
}

/* Paragraph */
.container p{
    margin-top: 20px;

    text-align: center;

    color: var(--primary-black);
}

/* Link */
.container a{
    color: var(--primary-red);

    text-decoration: none;

    font-weight: bold;
}

.container a:hover{
    color: var(--primary-brown);
}
